<% include header.html %>
<body>
    <div class="row-fluid heading">
        <div class="span12">
            <h4>Thank you for registering with BeachyClean!  We recieved the following information:</h4>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-1">
            First Name:
        </div>
        <div class="col-11">
            <%=user.firstName%>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-1">
            Last Name:
        </div>
        <div class="col-11">
            <%=user.lastName%>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-1">
            Email:
        </div>
        <div class="col-11">
            <%=user.email%>
        </div>
    </div>
    </body>
<% include footer.html %>